appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
bsddb3==6.2.4
decorator==4.0.11
enum34==1.1.6
future==0.16.0
futures==3.0.5
greenlet==0.4.12
Gutenberg==0.4.5
ipdb==0.10.2
ipython==5.3.0
ipython-genutils==0.1.0
isodate==0.5.4
msgpack-python==0.4.8
neovim==0.1.13
pathlib2==2.2.1
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.13
ptyprocess==0.5.1
Pygments==2.2.0
pyparsing==2.1.10
pyperclip==1.5.27
rdflib==4.2.2
rdflib-sqlalchemy==0.2.dev0
requests==2.13.0
scandir==1.5
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.1.5
traitlets==4.3.2
trollius==2.1
wcwidth==0.1.7
wheel==0.26.0
